/* Loader container */
.loading {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 2rem;
    font-weight: bold;
    background-color: var(--primary-background);
    color: var(--primary-color);
}

/* Loader SVG */
.loader {
    width: 40px;
    will-change: transform;
}

/* Responsive styles */
@media (max-width: 768px) {
    .loading {
        font-size: 1.5rem;
        gap: 10px;
    }

    .loader {
        width: 30px;
    }
}