body {
    position: relative;
    background-color: #F5F1E8;
    padding: 0 30px;
}
.title {
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    color: #B08968;
}
.subtitle {
    font-size: 2rem;
    font-weight: bold;
    color: #B08968;
    margin: 20px 50px;
}
.form {
    display: flex;
    justify-content: center;
    justify-self: center;
    align-items: center;
    background-color: #E8D8C4;
    border-radius: 10px;
    width: 80%;
    min-width: 300px;
    padding: 30px;
}
#addProduct-form {
    display: flex;
    flex-flow: column;
    gap: 40px;
    width: 60%;
}
#name {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    color: #ffffff;
    border: none;
    background-color: #D8C3A5;
    font-size: 1.2rem;
}
#name::placeholder {
    color: #8D6E63;
}

#description {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: rgba(253, 224, 200, 0.397);
    font-size: 1.2rem;
    resize: none;
}

#description::placeholder {
    color: var(--primary-color);
}

#imgInp {
    font-size: 1.2rem;
    font-weight: bold;
}
#imgInp::file-selector-button {
    background-color: var(--primary-color);
    margin-right: 20px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    font-size: 1.2rem;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}
#imgInp::file-selector-button:hover {
    background-color: var(--background-color);
    color: var(--primary-color);
}

.price-stock {
    display: flex;
    width: 100%;
    gap: 30px;
}
#price {
    width: 100px;
    height: 30px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: rgba(253, 224, 200, 0.397);
    font-size: 1.2rem;
}
#price::placeholder {
    color: var(--primary-color);
    text-align: center;
}
#price::-webkit-outer-spin-button,
#price::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#stock {
    width: 100px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: rgba(253, 224, 200, 0.397);
    font-size: 1.2rem;
}
#stock::placeholder {
    color: var(--primary-color);
    text-align: center;
}
#stock::-webkit-outer-spin-button,
#stock::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#addProduct-button {
    background-color: var(--primary-color);
    width: 200px;
    justify-self: end;
    margin-right: 20px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    font-size: 1.2rem;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}
#addProduct-button:hover {
    background-color: var(--background-color);
    color: var(--primary-color);
}